@model ORTSocial.Models.Plan

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Plan</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Costo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Costo)
        </dd>
      @*  <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantFamiliares)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantFamiliares)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cartilla)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cartilla.IdCartilla)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdPlan">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
