@model ORTSocial.Models.Socio

@{
    ViewData["Title"] = "Delete";
}

<h1 class="text-center mt-5">Borrar Socio</h1>
<hr />

<div class="container mt-5">
    <div class="d-flex flex-column align-items-between justify-content-between vh-80">
        <div class="row">
            <dt class="col-sm-6 pl-350">
                @Html.DisplayNameFor(model => model.Dni)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Dni)
            </dd>
        </div>
        <div class="row">
            <dt class="col-sm-6 pl-350">
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Nombre)
            </dd>
        </div>
        <div class="row">
            <dt class="col-sm-6 pl-350">
                @Html.DisplayNameFor(model => model.Apellido)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Apellido)
            </dd>
        </div>
        <div class="row">
            <dt class="col-sm-6 pl-350">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Email)
            </dd>
        </div>
        <div class="row">
            <dt class="col-sm-6 pl-350">
                @Html.DisplayNameFor(model => model.Telefono)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Telefono)
            </dd>
        </div>
        <div class="row">
            <dt class="col-sm-6 pl-350">
                @Html.DisplayNameFor(model => model.Provincia)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Provincia)
            </dd>
        </div>
        <div class="row">
            <dt class="col-sm-6 pl-350">
                @Html.DisplayNameFor(model => model.Ciudad)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Ciudad)
            </dd>
        </div>
        <div class="row">
            <dt class="col-sm-6 pl-350">
                @Html.DisplayNameFor(model => model.Plan)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Plan.Nombre)
            </dd>
        </div>
        <div class="row">
            <dt class="col-sm-6 pl-350">
                @Html.DisplayNameFor(model => model.GrupoFamiliar)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.GrupoFamiliar.Nombre)
            </dd>
        </div>
        <form asp-action="Delete">
            <div class="d-flex justify-content-center mt-40">
                <input type="hidden" asp-for="IdSocio" />
                <a asp-action="Index" class="btn btn-secondary mr-200">Volver a la lista</a> |
                <input type="submit" value="Borrar" class="btn btn-danger ml-200"/>
            </div>
        </form>
    </div>
</div>