@model ORTSocial.Models.TurnoMedico

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center mt-5">Detalles Turno Medico</h1>
<hr />

<div class="container mt-5">
    <div class="d-flex flex-column align-items-between justify-content-between vh-80">
        <div class="row">
            <dt class="col-sm-6 pl-350">
                @Html.DisplayNameFor(model => model.Fecha)
            </dt>
            <dd class = "col-sm-6">
                @Html.DisplayFor(model => model.Fecha)
            </dd>
        </div>
        <div class="row">
            <dt class="col-sm-6 pl-350">
                @Html.DisplayNameFor(model => model.Medico)
            </dt>
            <dd class = "col-sm-6">
                @Html.DisplayFor(model => model.Medico.Nombre)
            </dd>
        </div>
        <div class="row">
            <dt class="col-sm-6 pl-350">
                @Html.DisplayNameFor(model => model.Socio)
            </dt>
            <dd class = "col-sm-6">
                @Html.DisplayFor(model => model.Socio.Nombre)
            </dd>
        </div>
        <div class="d-flex justify-content-center mt-40">
            <a asp-action="Index" class="btn btn-secondary mr-200">Volver a la lista</a>
            <a asp-action="Edit" asp-route-id="@Model?.idTurno" class="btn btn-warning ml-200">Editar</a>
        </div>
    </div>
</div>
