@model IEnumerable<ORTSocial.Models.TurnoMedico>

@{
    ViewData["Title"] = "Index";
}

<h1>Turnos</h1>

<p>
    <a asp-action="Create">Crear Turno</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Socio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Medico.Especialidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Socio.Dni)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idTurno">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.idTurno">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.idTurno">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
